.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slide-button {
  background: transparent;
  border: none;
  color: var(--synthwave-neon-green);
  font-size: 2rem;
  animation: bounce 3s infinite;
  margin-bottom: 20px;
}

@keyframes bounce {
  0% {
    margin-bottom: 0px;
  }
  10% {
    margin-bottom: 10px;
  }
  25% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 0px;
  }
}
